{{#if success}}
<div class="text-center alert alert-success" id="success-alert" role="alert">
  <strong>
    <h1>{{success}}</h1>
  </strong>
</div>
<script>
  setTimeout(() => {
    $("#success-alert").alert('close');
  }, 2000);
</script>
{{/if}}
{{#if error}}
<div class="text-center alert alert-danger" id="error-alert" role="alert">
  <strong>
    <h1>{{error}}</h1>
  </strong>
</div>
<script>
  setTimeout(() => {
    $("#error-alert").alert('close');
  }, 2000);
</script>
{{/if}}
{{#with user}}
<section class="section profile" style="background-color: #11a683;">
  <div class="row">
    <div class="col-xl-4">

      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

          {{!-- <img src="{{image}}" alt="Profile" class="rounded-circle"> --}}
          <img src="{{image}}" alt="Profile" class="rounded-circle">
          <h2>{{name}}</h2>
        </div>
      </div>

    </div>

    <div class="col-xl-8">

      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">

            <li class="nav-item">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Tổng quát</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Chỉnh sửa thông tin</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Thay đổi mật
                khẩu</button>
            </li>

          </ul>
          <div class="tab-content pt-2">
            <div class="tab-pane fade show active profile-overview" id="profile-overview">
              <h5 class="card-title">Thông tin người dùng</h5>

              <div class="row">
                <div class="col-lg-3 col-md-4 label ">Họ tên</div>
                <div class="col-lg-9 col-md-8">{{name}}</div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Địa chỉ</div>
                <div class="col-lg-9 col-md-8">{{address}}</div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Số điện thoại</div>
                <div class="col-lg-9 col-md-8">{{phone_number}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Email</div>
                <div class="col-lg-9 col-md-8">{{account}}</div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Lượng sản phẩm đã mua</div>
                <div class="col-lg-9 col-md-8">{{number_product}}</div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Lượng sản phẩm đã từ thiện</div>
                <div class="col-lg-9 col-md-8">{{number_charity}}</div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Lượng sản phẩm đã tái chế</div>
                <div class="col-lg-9 col-md-8">{{number_recycles}}</div>
              </div>
            </div>

            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

              <!-- Profile Edit Form -->
              <form method="POST" action="/user/info">
                <div class="row mb-3">
                  <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Hình đại diện</label>
                  <div class="col-md-8 col-lg-9">
                    <img src="images/D.jpg" alt="Profile">
                    <div class="pt-2">
                      <input type="file" class="form-control" id="profileImage">
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Họ Tên</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="name" type="text" class="form-control" id="fullName" value="" placeholder="{{name}}"
                      minlength="4">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="Address" class="col-md-4 col-lg-3 col-form-label">Địa chỉ</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="address" type="text" class="form-control" id="Address" value=""
                      placeholder="{{address}}">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Số điện thoại</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="phone" type="tel" class="form-control" id="Phone" value="" pattern="[0-9]{10}"
                      title="Vui lòng nhập đúng số điện thoại" placeholder="{{phone}}" maxlength="10">
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
              </form><!-- End Profile Edit Form -->

            </div>

            {{!-- <div class="tab-pane fade pt-3" id="profile-settings">

              <!-- Settings Form -->
              <form method="POST">
                <div class="row mb-3">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                  <div class="col-md-8 col-lg-9">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="changesMade" checked>
                      <label class="form-check-label" for="changesMade">
                        Changes made to your account
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="newProducts" checked>
                      <label class="form-check-label" for="newProducts">
                        Information on new products and services
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="proOffers">
                      <label class="form-check-label" for="proOffers">
                        Marketing and promo offers
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                      <label class="form-check-label" for="securityNotify">
                        Security alerts
                      </label>
                    </div>
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
              </form><!-- End settings Form -->
            </div> --}}

            <div class="tab-pane fade pt-3" id="profile-change-password">
              <!-- Change Password Form -->
              <form method="POST" action="/user/password">
                <div class="row mb-3">
                  <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="password" type="password" class="form-control" id="currentPassword" required>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="newpassword" type="password" class="form-control" id="newPassword" minlength="4"
                      onkeyup="checkPass()" required>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="renewpassword" type="password" class="form-control" id="renewPassword" minlength="4"
                      onkeyup="checkPass()" required>
                    <p id="confirmMessage"></p>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="show" class="col-md-4 col-lg-3 col-form-label"></label>
                  <div class="col-md-8 col-lg-9">
                    <input id="show" type="checkbox" name="show" onclick="showPassword()">
                    <label for="show">Hiển thị mật khẩu</label>
                  </div>

                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary" id="submit">Change Password</button>
                </div>
              </form><!-- End Change Password Form -->

            </div>

          </div><!-- End Bordered Tabs -->
        </div>
      </div>

    </div>
  </div>
</section>
{{/with}}

<script>
  function checkPass() {
    var pass1 = document.getElementById('newPassword');
    var pass2 = document.getElementById('renewPassword');
    var message = document.getElementById('confirmMessage');
    var submit = document.getElementById('submit');
    var goodColor = "#66cc66";
    var badColor = "#ff6666";
    if (pass1.value == pass2.value) {
      pass2.style.backgroundColor = goodColor;
      message.style.color = goodColor;
      message.innerHTML = "Passwords Match!"
      submit.classList.remove("btn-primary");
      submit.classList.remove("btn-danger");

      submit.classList.add("btn-success");
      submit.disabled = false;
    } else {
      pass2.style.backgroundColor = badColor;
      message.style.color = badColor;
      message.innerHTML = "Passwords Do Not Match!"
      submit.classList.remove("btn-success");
      submit.classList.add("btn-danger");
      submit.disabled = true;
    }
  }
</script>