<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script type="text/javascript">
  function getCellValue(row, index){ return $(row).children('td').eq(index).text() }
  $(document).ready(function(){
    $("#filter").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#product div").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
      
    });
    
    {{!-- var myProduct = $('#product');
    var listproduct = myProduct.children('div').get();
    var lengthListProduct = listproduct.length

    var mypage = $('#pagination');
    var listpage = mypage.children('li').get();
    window.console.log(mypage.length)

    var pre = listpage[0]
    var next = listpage[listpage.length-1]
    
    var pageNum = listpage[1]


    var tmpListPage = listpage.slice(1,lengthListProduct-1)
 
    tmpListPage = tmpListPage.concat(next,pageNum,pre)
    $.each(tmpListPage, function(idx, pre) { mypage.append(pre); });  --}}

  });
  function sortTable(){
      var vals = document.getElementsByClassName('page-item').active
    window.console.log(vals)
  {{!-- window.console.log(listpage.findIndex(value:active)) --}}

    var mylist = $('#pagination');
    var listitems = mylist.children('li').get();
    window.log(listitems.length)
    {{!-- listitems.slice() --}}
    {{!-- listitems..sort(function(a, b) {
      return $(a).text().toUpperCase().localeCompare($(b).text().toUpperCase());
    })
    $.each(listitems, function(idx, itm) { mylist.append(itm); }); --}}
  }
 </script> 
 
<div id="menu" class="container">
  {{!-- option-list : Start --}}
  <form action="" method="get" id="menu-form"></form>
  <div class="col-3 option-list">
    <div class="accordion accordion-flush" >
      {{!-- option-partner : Start --}}
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne" >
            Cửa hàng
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" >
          <div class="accordion-body partner-list">
            {{#each partnerList}}
            <div class="form-check" >
              <input  class="form-check-input" type="checkbox" name="partner" id="{{id}}" form="menu-form" value="{{id}}">
              <label class="form-check-label" for="{{id}}" >
                {{name}}
              </label>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      {{!-- option-partner : End --}}

      {{!-- option-catalogue : Start --}}
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="true" aria-controls="flush-collapseTwo">
            Phân loại
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" >
          <div class="accordion-body">
            {{#each catalogueList}}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="catalogue" id="{{id}}" form="menu-form" value="{{id}}">
              <label class="form-check-label" for="{{id}}">
                {{name}}
              </label>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      {{!-- option-catalogue : End --}}

      {{!-- option-price : Start --}}
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="true" aria-controls="flush-collapseThree">
            Giá
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" >
          <div class="accordion-body partner-list">
            {{#if priceList}}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="price" id="0,{{priceList.[0]}}" form="menu-form" value="0,{{priceList.[0]}}">
              <label class="form-check-label" for="{{priceList.[0]}}">
               0 - {{priceList.[0]}}
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="price" id="{{priceList.[0]}},{{priceList.[1]}}"  form="menu-form" value="{{priceList.[0]}},{{priceList.[1]}}">
              <label class="form-check-label" for="{{priceList.[1]}}">
                {{priceList.[0]}} - {{priceList.[1]}}
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="price" id="{{priceList.[1]}},{{priceList.[2]}}"  form="menu-form" value="{{priceList.[1]}},{{priceList.[2]}}" >
              <label class="form-check-label" for="{{priceList.[2]}}">
                {{priceList.[1]}} - {{priceList.[2]}}
              </label>
            </div>
            {{/if}}
          </div>
        </div>
      </div>
      {{!-- option-price : End --}}
      {{!-- option-price : Start --}}
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="true" aria-controls="flush-collapseFour">
            Sắp xếp giá
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" >
          <div class="accordion-body partner-list">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="sorting" id="ASC" form="menu-form" value="ASC">
              <label class="form-check-label" for="ASC">
                Tăng dần
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="sorting" id="DESC" form="menu-form" value="DESC">
              <label class="form-check-label" for="DESC">
                Giảm dần
              </label>
            </div>
          </div>
        </div>
      </div>
      {{!-- option-price : End --}}
      
    </div>
    <input type="search" id="filter" form="menu-form" placeholder="Tìm kiếm sản phẩm.." >
    <input type="submit"  form="menu-form" value="Submit">
  </div>
  {{!-- product-list : Start --}}
  <div class="col-7" id="product">
    {{#each productList}}
    <div class="card" style="width: 18rem;">
      <img src="{{productImageUrl}}" alt="{{productName}}">
      {{!-- <a href="/menu/sss">sss</a> --}}
      <div class="product-body">
        <a href="/product/detail/{{id}}" class="product-title">
          {{productName}}
        </a>
        <p class="product-price">
          {{price}}đ
        </p>
        <form action="/shopping-cart/{{id}}" method="post">
          <button class="learn-more">
            <a href="#">
                <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                </span>
                <span class="button-text">Thêm vào giỏ</span>
            </a>
          </button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
  {{!-- product-list : End --}}

  {{!-- sort-list : Start --}}
  <div class="col-2 sort-list"></div>
  
  {{!-- sort-list : End --}}
  

</div>
  {{!-- Pagination: start --}}
 <nav aria-label="..." >
    <ul class="pagination pagination-centered" id="menu-pagination">
        {{#paginate pagination type="first"}}
        <li  {{#if disabled}}class="page-item disabled"{{/if}}><a class="page-link" href="?page={{n}}">First</a></li>
        {{/paginate}}
        {{#paginate pagination type="previous"}}
        <li {{#if disabled}}class="page-item disabled"{{/if}}><a class="page-link" href="?page={{n}}">Prev</a></li>
        {{/paginate}}
        {{#paginate pagination type="middle" limit=pagination.pageCount}}
        <li {{#if active}}class="page-item active"{{/if}}><a class="page-link" href="?page={{n}}">{{n}}</a></li>
        {{/paginate}}
        {{#paginate pagination type="next"}}
        <li {{#if disabled}}class="page-item disabled"{{/if}}><a class="page-link" href="?page={{n}}">Next</a></li>
        {{/paginate}}
        {{#paginate pagination type="last"}}
        <li {{#if disabled}}class="page-item disabled"{{/if}}><a class="page-link" href="?page={{n}}">Last</a></li>
        {{/paginate}}
    </ul>
 </nav>
   {{!-- Pagination: end--}}
